{% extends 'frontend.html.twig' %}

{% block page_header %}Crear Categoria{% endblock %}

{% block content %}
    {{ form_start(form, {attr: {'novalidate': true}}) }}
    {{ form_widget(form) }}
    <div class="grid gap">
        <input type="submit" value="Enviar">
        <a class="secondary" role="button" href="{{ path('admin_category_list') }}">Volver</a>
    </div>
    {{ form_end(form) }}
{% endblock %}
